:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
    --h2: 2rem;
}

body {
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

header,
footer {
    background-color: var(--blue-grey-50);
    color: var(--blue-grey-50);
}

/* Universal styles */
a {
    all: unset;
}

ul {
    padding: 0;
    margin: 0;
}

.inner-container {
    max-width: 1026px;
    margin: 0 auto;
}

header {
    background-color: #111111;
    color: var(--blue-grey-50);
    padding: 3rem 2.8rem 2rem;
}

.logo img {
    width: 30%;
}

header li,
footer li {
    list-style-type: none;
}

.logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 1rem;
}

h1,
footer h2 {
    font-size: 3.5rem;
    font-family: "Libre Baskerville";
}

header ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

footer {
    background-color: #191919;
    padding: 4rem 1.8rem 4.6rem;
    font-size: 0.75rem;
}

footer .logo {
    justify-content: flex-start;
}

footer li>strong {
    font-size: 1rem;
}

footer p {
    color: var(--blue-grey-200);
}

footer .logo img {
    width: 39%;
}

.navigation {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin: 3rem 0;
}

li {
    margin-bottom: 1rem;
}

footer .inner-container>p:last-child {
    text-align: center;
}

/* Styling for Homepage */

main {
    text-align: center;
}

.home section {
    padding: 4rem 1.68rem;
}

section:first-child {
    background-color: var(--blue-grey-50);
}

main h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--h2);
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
}

.home .btn {
    background-color: #000000;
    color: var(--blue-grey-50);
    padding: 1rem;
    border-radius: 6px;
    display: inline-block;
}

.home section:first-child .btn {
    margin: 2rem 0 3rem;
}

main img {
    border-radius: 0.5rem;
}

span {
    display: block;
    font-weight: bold;
    font-size: 2.3rem;
}

.home section:nth-child(2) .inner-container>p:first-of-type {
    margin-bottom: 4rem;
}

.home article h3,
.home article p {
    margin-bottom: 1rem;
}

section:nth-child(3) {
    background-color: #78909C;
    color: var(--blue-grey-50);
}

.home section:nth-child(3) p:first-of-type {
    margin: 3rem 0 1rem;
}

.home section:nth-child(4) {
    background-color: #CFD8DC;
}

.home section:nth-child(4) article {
    text-align: left;
}

.home section:nth-child(4) article span,
.home section:nth-child(4) article img {
    margin-top: 3rem;
}


.home section:nth-child(4) .inner-container>article div {
    margin: 3rem 0;
}

.home section:nth-child(4) article ul {
    margin-left: 1.5rem;
}

.home section:nth-child(4) .inner-container>span {
    margin-bottom: 0.5rem;
}

.home section:nth-child(5),
.gallery section:nth-child(4) {
    background-color: var(--blue-grey-900);
}

.home section:nth-child(5) div {
    background-color: var(--blue-grey-50);
    border-radius: 0.5rem;
    padding: 4rem 1rem;
    max-width: 28rem;
    margin: 0 auto;
}

.home section:nth-child(5) p {
    margin-bottom: 2rem;
}

/* Styling for Gallerypage */
.gallery section {
    padding: 4rem 2rem;
    text-align: left;
}

.gallery section:first-child img {
    margin: 3rem 0 0;
}

.gallery figcaption {
    margin-top: 1rem;
}

.gallery h3 {
    margin: 3.75rem 0 2rem;
}

.gallery article:nth-of-type(2) h3 {
    margin: 2.5rem 0 2rem;
}

.gallery section:nth-child(3) h2,
.gallery section:last-child h2 {
    text-align: left;
}

.gallery section:nth-child(3) p {
    margin-top: 1.5rem;
}

.gallery section:last-child {
    color: #FFF;
}

.gallery section:last-child img {
    width: 100%;
}

.gallery section:last-child h2 {
    margin-bottom: 3rem;
}

.gallery section:last-child ul {
    margin: 3rem 0 3rem 1.5rem;
}

.gallery section:last-child ul li {
    margin-bottom: 1.2rem;
}

/* Media Queries*/
@media screen and (min-width: 768px) {

    header>.inner-container {
        display: flex;
        gap: 12rem;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 39%;
    }

    header li,
    .logo {
        margin: 0;
    }

    footer>.inner-container>div {
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
    }

    footer>.inner-container>div>div:first-child {
        width: 47%;
    }

    footer .logo img {
        width: 100%;
    }

    .navigation {
        gap: 4rem;
        margin-top: 0;
    }

    footer>.inner-container>p:last-child {
        margin: 0 8rem;
    }

    .home section:nth-child(2)>.inner-container>div {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        text-align: left;
    }

    .home section:nth-child(2) article {
        width: calc((100% - 1.5rem) / 2);
    }

    .home section:nth-child(4) article,
    .gallery section:first-child article,
    .gallery section:nth-child(3) .inner-container div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .home section:nth-child(4) article img,
    .gallery section:first-child article>img {
        width: 50%;
    }

    .home section:nth-child(4) article:nth-of-type(2) img {
        order: -1;
    }

    .gallery section:first-child article:nth-of-type(2) div {
        width: 75%;
        order: -1;
    }

    .gallery section:nth-child(3) h2,
    .gallery section:last-child h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .gallery section:nth-child(3) .inner-container div {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .gallery section:nth-child(3) p {
        width: calc((100% - 1.5rem) / 2);
    }

    .gallery section:last-child>.inner-container>div {
        display: flex;
        gap: 2rem;
        align-items: stretch;
        margin-top: 3rem;
    }

    .gallery section:last-child ul {
        margin-top: 0;
    }

    .gallery section:last-child>.inner-container>div>img {
        width: 40%;
    }

}

@media screen and (min-width: 1026px) {

    footer>.inner-container>div {
        justify-content: space-between;
    }

    footer>.inner-container>div>div:first-child {
        width: 30%;
    }

    .navigation {
        gap: 7rem;
    }

    .home section:first-child img {
        width: 100%;
    }

    .home section:nth-child(2) article {
        width: calc((100% - 3rem) / 3);
    }

    .home section:nth-child(4)>.inner-container>div {
        display: flex;
        align-items: stretch;
        gap: 1.5rem;
    }

    .home section:nth-child(4) article {
        text-align: left;
        flex-direction: column;
        margin-top: 3rem;
    }

    .home section:nth-child(4) article:nth-of-type(2) div {
        height: 46%;
    }

    .home section:nth-child(4) article img {
        width: 100%;
        height: 100%;
    }

    .home section:nth-child(4) article:nth-of-type(2) img {
        order: 1;
    }

    .home section:nth-child(5) div {
        max-width: 42rem;
    }

    .gallery section {
        padding: 4rem 13.5rem;
    }

    .gallery section:first-child article:nth-of-type(2) div {
        width: 55%;
        order: -1;
    }

    .gallery section:last-child ul {
        margin-left: 2rem;
    }

    .gallery section:last-child>div>img {
        width: 40%;
    }

}